.container {
   display: flex;
   flex-direction: column;
   height: 83vh; 
   padding: 30px;
   text-align: center;
   color: #fff;
   background: linear-gradient(130deg, #231a6f, #0f054c);
   justify-content: center; 
   align-items: center;
 }
 
 .us{
  color: aqua;
 }