.containers {
  // margin-top: 50px; 
  width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #ffff;
    // height: 83vh;
  }
.Services{
    color: aqua;
  }
  
  .card-container {
    padding-bottom: 120px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
    margin-top: 40px; 
  }
  
  .card {
    flex: 1 1 calc(33.333% - 20px); 
    background-color: #f9f9f9; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
  }
  
  
  @media (max-width: 768px) {
    .card {
      flex: 1 1 100%; 
    }
  }
  