
.why-choose-us {
    padding: 50px;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .why-choose-us h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .feature-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-basis: 22%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .feature-card:hover {
    transform: translateY(-10px); 
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .feature-card p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
  }
  
  
  @media (max-width: 768px) {
    .feature-card {
      flex-basis: 45%; 
    }
  }
  
  @media (max-width: 480px) {
    .feature-card {
      flex-basis: 100%; 
    }
  }
  